@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

.App {
  margin: 2.5vh auto auto auto;
  max-width: 850px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .App div h1 {
    font-size: 8.75vw;
  }
}

.App h1 {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 600;
  color: #709CCE;
  text-align: left;
  font-size: 5em;
}

.title {
  display: inline-block;
  margin: auto 3vh 0 3vh;
}