@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");


.App {
  margin: 1.5em auto auto auto;
  max-width: 1000px;
  text-align: center;
}

.App h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
}
