@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.money {
  font-size: 2em;
  color: #F3F1EF;
}

.dashwrapper {
  margin: auto 3vh 3vh 3vh;
  color: #F3F1EF;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.fun-fact {
  margin: 1em;
  color: #143A92;
}

.text-muted {
  color: #F3F1EF;
}
