@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    background-color: #fff1e5;
}

h3 {
    color: #990f3d;
}

#dashboard-wrapper {
    width: 70vw;
    outline: magenta solid 1px;
    align-self: center;
    text-align: center;
    display: inline-grid;
    margin-top: 5vh;
    grid-template-columns: 33% 33% auto;
    grid-template-rows: auto auto;
    font-family: 'Open Sans', sans-serif;
}

.dashboard-element {
    margin: 1em;
    padding: 1em;
    outline: black solid 1px;
}

#fun-facts {
    grid-column-start: 1;
    grid-column-end: 4;
}

.money {
    font-weight: bold;
    font-size: 2em;
}

.last-update {
    margin-top: -3vh;
    font-size: 0.9em;
}