@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

#footer-wrapper {
  width: 100%;
  margin: 5vh auto 1vh auto;
  font-family: "Open Sans", sans-serif;
  color: #17252a;
}
